.movieCard {
  position: relative;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 160%;
  border-radius: 30px;
  margin-bottom: 1rem;
}

.movieCardBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movieCard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: black;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 30px;
}

.movieCardTitle{
  text-align: center;
}

.SomeCardDetails {
  padding: 5px 10px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  border-radius: 20px;
  background-color: rgba(216, 216, 216, 0.621);
}

.cardVoteAvg{
  width: 60px;
}

.CardPDetails{
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 500px) {
  .MovieDate{
    display: none;
  }
}

@media (hover: hover) and (pointer: fine) {
  .movieCard:hover::before {
    opacity: 0.8;
  }
  .movieCard:hover .movieCardBtn {
    transform: translate(-50%, -50%) scale(1);
  }
}
