.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
}

.modal.active {
  opacity: 1;
  visibility: visible;
}

.modalContent {
  padding: 2rem;
  background-color: var(--register-login-bg-color);
  width: 50%;
  opacity: 0;
  transform: translateY(-250px);
  transition: transform 0.6s ease, opacity 0.6s ease;
  position: relative;
}

.modalContentClose {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 1.5rem;
  cursor: pointer;
}

.modalContentClose:hover {
  color: var(--register-login-btn-1-bg-color);
}

.modal.active .modalContent {
  opacity: 1;
  transform: translateY(0);
}

@media only screen and (max-width: 1024px) {
  .modalContent{
    width: 80%;
  }
}