.heroSlide {
  margin-bottom: 3rem;
  color:var(--register-login-btn-color);
}

.SomeDetails {
  padding: 5px 10px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  border-radius: 20px;
  background-color: rgba(87, 87, 87, 0.482);
}

.voteAvg{
  width: 60px;
}

.PDetails{
  display: flex;
  flex-direction: row;
}

.heroSlideItem {
  padding: 9rem 0;
  width: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.heroSlideItem::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.heroSlideItem::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-image: linear-gradient(to top, var(--register-login-bg-color), rgba(0, 0, 0, 0));
}

.heroSlideItemContent {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.heroSlideItemContentInfo {
  width: 55%;
  padding: 0 3rem;
  position: relative;
}

.heroSlideItemContentInfo > * ~ * {
  margin-top: 3rem;
}

.title {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  font-family: 'Inconsolata', monospace;
}

.overview {
  font-weight: 700;
  text-align: justify;
}

.btns,
.title,
.overview {
  opacity: 0;
  transform: translateY(-100px);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.heroSlideItemContentPoster {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.heroSlideItemContentPoster img {
  width: 400px;
  border-radius: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transform: scale(0);
  transition: transform 0.7s ease;
}

.heroSlideItem.active > .heroSlideItemContent > .heroSlideItemContentPoster img{
  transform: scale(1);
}

.heroSlideItem.active > .heroSlideItemContent > .heroSlideItemContentInfo .title,
.heroSlideItem.active > .heroSlideItemContent > .heroSlideItemContentInfo .overview,
.heroSlideItem.active > .heroSlideItemContent > .heroSlideItemContentInfo .btns {
  opacity: 1;
  transform: translateY(0);
}

.heroSlideItem.active > .heroSlideItemContent > .heroSlideItemContentInfo .title {
  transition-delay: 0.3s, 0.3s;
}

.heroSlideItem.active > .heroSlideItemContent > .heroSlideItemContentInfo .overview {
  transition-delay: 0.6s, 0.6s;
}

.heroSlideItem.active > .heroSlideItemContent > .heroSlideItemContentInfo .btns {
  transition-delay: 0.9s, 0.9s;
}

@media only screen and (max-width: 1024px) {
  .heroSlideItemContentInfo{
    width:100%;
  }
  .heroSlideItemContentPoster{
    display: none;
  }
}