.login{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginWrapper{
  width:80%;
  height: 70%;
  display: flex;
}

.loginRight,.loginLeft{
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginRight{
  align-items: flex-end;
}

.loginLeft{
  flex-direction: row;
  align-items: center;
}

.LoginIcon{
  width:200px;
  margin-right: 20px;
}

.loginLogo{
  font-size: 50px;
  font-weight: 500;
  color:var(--register-login-logo-color);
  font-family: 'Moo Lah Lah', cursive;
  margin-bottom: 10px;
}

.loginDesc{
  font-size: 21px;
  font-family: 'Lobster', cursive;
  text-align:justify;
}

.loginBox{
  width: 80%;
  height: 300px;
  padding: 20px;
  background-color: var(--register-login-box-bg-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loginInput{
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  padding: 0 20px;
  font-family: 'Inconsolata', monospace;
}

.loginInput:focus{
  outline: none;
}

.loginButton,.loginRegisterButton{
  height: 50px;
  border-radius: 10px;
  border:none;
  background-color: var(--register-login-btn-1-bg-color);
  color:var(--register-login-btn-color);
  font-size: 20px;
  font-weight: 500;
  font-family: 'Barlow Semi Condensed', sans-serif;
  cursor: pointer;
}

.loginButton:disabled{
  cursor: not-allowed;
}

.loginForgot{
  text-align: center;
  color:var(--login-forgot-color);
  font-weight: 900;
  font-size: 13px !important;
  cursor: pointer;
}

.loginRegisterButton{
  background-color: var(--register-login-btn-2-bg-color);
}

.HrLogin{
  border:none;
  height: 1px;
  background-color: var(--login-hr-bg-color);
  margin: 0 !important;
}

@media only screen and (max-width: 720px) {
  .loginWrapper{
    flex-direction: column;
    width: 90%;
  }
  .loginRight{
    align-items: center;
    margin-top: 70px;
    flex: 0.5;
  }
  .loginLeft{
    flex: 0.5;
  }
  .loginBox{
    width: 100%;
  }
}