.rest{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.restWrapper{
  width:80%;
  height: 70%;
  display: flex;
}

.restRight,.restLeft{
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.restRight{
  align-items: flex-end;
}

.restLeft{
  flex-direction: row;
  align-items: center;
}

.restIcon{
  width:200px;
  margin-right: 20px;
}

.restLogo{
  font-size: 50px;
  font-weight: 500;
  color:var(--register-login-logo-color);
  font-family: 'Moo Lah Lah', cursive;
  margin-bottom: 10px;
}

.restDesc{
  font-size: 21px;
  font-family: 'Lobster', cursive;
  text-align:justify;
}

.restBox{
  width: 80%;
  height: 300px;
  padding: 20px;
  background-color: var(--register-login-box-bg-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.restInput{
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  padding: 0 20px;
  font-family: 'Inconsolata', monospace;
}

.restInput:focus{
  outline: none;
}

.restButton{
  height: 50px;
  border-radius: 10px;
  border:none;
  background-color: var(--register-login-btn-1-bg-color);
  color:var(--register-login-btn-color);
  font-size: 20px;
  font-weight: 500;
  font-family: 'Barlow Semi Condensed', sans-serif;
  cursor: pointer;
}

@media only screen and (max-width: 720px) {
  .restWrapper{
    flex-direction: column;
    width: 90%;
  }
  .restRight{
    align-items: center;
    margin-top: 70px;
    flex: 0.5;
  }
  .restLeft{
    flex: 0.5;
  }
  .restBox{
    width: 100%;
  }
}