.banner {
  height: 100vh;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.banner::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-image: linear-gradient(to top, var(--register-login-bg-color), rgba(0, 0, 0, 0));
}

.movieContent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -80vh;
  position: relative;
  padding: 0 2rem;
}

.movieContentPoster {
  flex: 1;
}

.movieContentPosterImg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px;
  padding-top: 165%;
}

.movieContentInfo {
  width: 70%;
  padding: 0 2rem;
  position: relative;
}

.movieContentInfo > * {
  margin-bottom: 2rem;
}

.titleDetails {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
  font-family: 'Inconsolata', monospace;
  color:var(--register-login-btn-color);
}

.overviewDetails{
  font-weight: 700;
  text-align: justify;
  color:var(--register-login-btn-color);
}

.genres > * ~ * {
  margin-left: 0.5rem;
}

.genresItem {
  padding: 0.5rem 1.5rem;
  border: 2px solid var(--register-login-btn-color);
  border-radius: 30px;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: black;
  color:var(--register-login-btn-color);
  font-family: 'Inconsolata', monospace;
}

.casts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  gap: 10px;
}

.cast .sectionHeader h2{
  color:var(--register-login-btn-color);
}

.castsItemImg {
  padding-top: 160px;
  background-size: cover;
  margin-bottom: 0.5rem;
}

.castsItemName {
  font-size: 0.8rem;
  text-align: center;
  font-weight: 700;
}

.section .sectionHeader h2{
  font-weight:700;
}

.video {
  margin-bottom: 3rem;
}

.videoTitle {
  margin: 1.5rem 2rem 1.5rem 2rem;
}

@media only screen and (max-width: 600px) {
  .movieContentPoster {
    display: none;
  }
  .movieContentInfo{
    width: 100%;
    padding-left: 0;
  }
  .videoTitle {
    margin: 1.5rem 0rem;
  }
}

@media (min-width: 600px) and (max-width: 770px){
  .banner{
    height: 80vh;
  }
  .movieContent{
    margin-top: -60vh;
  }
}

@media (min-width: 770px) and (max-width: 950px){
  .banner{
    height: 60vh;
  }
  .movieContent{
    margin-top: -40vh;
  }
}